.CoWB_7sR {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  padding: 32px 0 0;
}

@media (max-width: 768px) {
  .CoWB_7sR {
    font-size: 24px;
  }
}

.HyKQZ7eW {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  min-height: 450px;
}

.dx5c6gLl {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--border-alt);
  border-radius: 10px;
  min-width: calc(var(--columns-count) * 150px);
}

.dx5c6gLl thead .PuCaxBMf {
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--border-alt);
  border-radius: 10px 10px 0 0;
}

.PuCaxBMf {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(var(--columns-count), minmax(100px, 1fr));
  border-bottom: 1px solid var(--border-alt);
  background-color: var(--row-bg);
  height: 63px;
  font-size: 16px;
}

.PuCaxBMf:nth-child(even) {
  background-color: var(--even-row-bg);
}

.PuCaxBMf:last-child {
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

.bDfCk3Ka,
.Um1d58Vn {
  padding: 23px;
  text-align: left;
  overflow: hidden;
}

.Um1d58Vn {
  display: flex;
  gap: 12px;
}

.bDfCk3Ka {
  font-weight: 500;
}

@media (max-width: 1770px) {
  .PuCaxBMf {
    font-size: 15px;
  }

  .bDfCk3Ka,
  .Um1d58Vn {
    padding: 0 16px 0;
  }
}

@media (max-width: 1440px) {
  .PuCaxBMf {
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .PuCaxBMf {
    height: 40px;
    font-size: 13px;
  }

  .Um1d58Vn {
    gap: 8px;
  }
}

.TnXReEsn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}

.OyIkcmAz {
  background-color: var(--error-bg);
  color: var(--error-cl);
}

.iwKN_tP2 {
  background-color: var(--active-bg);
  color: var(--active-cl);
}

.XnWFHKgq {
  background-color: var(--expired-bg);
  color: var(--expired-cl);
}

.lpYII3xE {
  background-color: var(--suspended-bg);
  color: var(--suspended-cl);
}

@media (max-width: 768px) {
  .TnXReEsn {
    font-size: 12px;
    padding: 4px 16px;
  }
}

