.link {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  color: var(--primary);
  transition: opacity 0.2s;
  font-size: 14px;
}

.link:hover {
  opacity: 0.8;
}

.icon {
  width: 11px;
  height: 11px;
}
