.input,
.select {
  font-size: 16px;
  padding: 15px 16px;
  border-radius: 10px;
  color: var(--text);
  border: 2px solid var(--border);
  font-family: Montserrat, sans-serif;
}

.select {
  appearance: none;
  width: 100%;
}

.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text);
  width: 24px;
  height: 24px;
}
