.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  background-color: var(--form-bg);
  padding: 32px;
  border: 1px solid var(--border-form);
  border-radius: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
